* {
    margin: 0;
    padding: 0;
}
.body {
    width: 1920px;
    margin: 0 auto;
    background-color: #70AB9C;
}
@media screen and (max-width: 1920px) {
    .body {
        width: 1280px;
    }
}
.border_radius {
    border-radius: 20px;
}
.problems {
    height: 500px;
}
.problems__input {
    background-color: #E2C0A8;
    outline: none;
    border: none;
    width: 600px;
    height: 80px;
    display: none;
    margin: 20px 0 0 0;
    white-space: pre-wrap;
    resize: none;
    padding: 15px;
    opacity: 0;
}
.problems__input::-webkit-scrollbar {
    width: 15px;
}
.problems__input::-webkit-scrollbar-track {
    background-color: #C0B353;
    border-radius: 0 20px 20px 0;
}
.problems__input::-webkit-scrollbar-track:hover {
    border-radius: 0 20px 20px 0;
}
.problems__input::-webkit-scrollbar-thumb {
    background-color: rgba(206, 224, 179, 0.9);
    border-radius: 0 20px 20px 0;
}

.problems__input::placeholder {
    text-align: center;
    line-height: 80px;
}
.problems__button-add {
    background-color: #E2C0A8;
    outline: none;
    border: none;
    width: 300px;
    height: 80px;
}
.problems__button-add_add {
    display: none;
    margin: 25px 0 0 0;
}

.problems__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 25px 0 0 0;
}
.problems {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.block_visible {
    opacity: 1;
    transition: 1s ease opacity;
}
.cursor-pointer {
    cursor: pointer;
}

.problems-saved {
    border: 5px solid #E2C0A8;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 15px;
    width: 90%;
    margin: 0 auto;
    color: #E2C0A8;
    font-size: 24px;
    display: none;
    flex-direction: column;
}

.problems-saved__point {
    display: flex;
    width: 100%;
    word-wrap: break-word;
    align-items: center;
    padding: 0 0 0 15px;
    justify-content: space-between;
}
.problems-saved__p {
    word-wrap: break-word;
    max-width: 90%;
}
.problems-saved__del {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 5px solid #E2C0A8;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px #333;
    overflow: hidden;
    transition: .3s;
}
svg {
    color: #E2C0A8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}
.problems-saved__del:hover {
    background-color: #E2C0A8;
}
.problems-saved__del:hover svg {
    color: #fff;
}
.problems-saved__change {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 5px solid #E2C0A8;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px #333;
    overflow: hidden;
    transition: .3s;
}
.problems-saved__change:hover {
    background-color: #E2C0A8;
}
.problems-saved__change:hover svg {
    color: #fff;
}
.problems-saved__other-btns {
    justify-items: flex-end;
    padding-right: 10px;
}

.main-table {
    border: 5px solid #E2C0A8;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 10% repeat(3, 1fr);
    justify-content: space-evenly;
    align-items: center;
    background-color: #E2C0A8;
}

.main-table__column {
    width: 100%;
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-left: 3px solid rgba(0, 0, 0, 0.5);
}
.main-table__column:first-child {
    border-left: 0;
}
.main-table__new-caption {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: 3px solid rgba(0, 0, 0, 0.5);
    width: 480px;
    margin: 25px auto 0;
    cursor: pointer;
    font-size: 24px;
    border-radius: 15px;
    transition: 0.1s;
}
.main-table__new-caption:hover {
    color: white;
    border-color: white;
    background-color: rgba(0, 0, 0 , 0.5);
    transition: 0.1s;
}